#logout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#logout-test {
    font-weight: bolder;
}

.input {
    
    text-align: center;
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.button:hover {
    opacity: 0.9;
}

#form {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  
}

#please-login {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: #353535 0px 0px 10px;
  font-size: 250%;
  font-weight: bold;
}

.button-two {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
}

.button-two:hover {
  opacity: 0.9;
}