#logout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#logout-logout {
    font-weight: bolder;
}

.input {
    text-align: center;
    width: 20%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-two {
    text-align: center;
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input:focus {
    border: 1px solid #555;

}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.button:hover {
    opacity: 0.9;
}

.form {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  height: 100%;
}

#please-login {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: #353535 0px 0px 10px;
  font-size: 250%;
  font-weight: bold;
}

.button-two {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
}

.button-two:hover {
  opacity: 0.9;
}

p#wait {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 250%;
  font-weight: bold;
}


p#page {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.default-p {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

p#note {
  color: red;
}

div#note {
  white-space: pre-wrap;
  height: 100px;
}

p#task {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
  font-weight: bold;
}

#errormessage {
  color: red;
}

#go {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 110%;
  font-weight: bold;
}

input.switch[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 50px;
	position: relative;
}

label.switch:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 45px;
	transition: 0.3s;
}

input.switch:checked + label {
	background: #4CAF50;
}

input.switch:checked + label:after {
	left: calc(100% - 2.5px);
	transform: translateX(-100%);
}

label.switch:active:after {
	width: 65px;
}

#sliders {
  align-items: center;
}
#go-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div#toggle-custom {
  font-family: 'Times New Roman', Times, serif;
}